body {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #37718e;
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

a {
    color: #37718e;
    text-decoration: none;
}

header {
    margin-top: 1rem;
}

img {
    max-width: 100%;
}

main {
    width: 100%;
    height: 100%;
}

.typeform-widget {
    margin: 1rem auto;
    width: 100%;
    height: 85vh;
}

.cta {
    margin-bottom: 2rem;
    background: #cce8f3;
    font-size: 2rem;
    border-radius: .25rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    min-height: 30vh;
    width: 100%;
    max-width: 775px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta:hover {
    background: #37718e;
    color: white;
}

footer {
    font-weight: bold;
}

.footer-link {
    text-decoration: underline;
}

.footer-link:hover {
    color: #37718e;
}

@supports (grid-template-rows: auto) {

    @media only screen and (min-width: 650px) {

        body {
            /* Photo by chuttersnap on Unsplash */
            background: url(../images/clouds.png) center center no-repeat fixed;
            background-size: cover;
        }
        
        header {
            margin: 1rem 0 0 0;
        }

        header h2 {
            font-size: 3rem;
        }
        
        main {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }

        .cta {
            margin-bottom: 0;
        }
    }

    @media only screen and (min-width: 900px) {

        .typeform-widget {
            margin: 0;
            height: 99vh;
        }

        main {
            grid-gap: 60px;
        }
        
    }

}

@media only screen and (min-height: 600px) {
    body {
        height: 100vh;
    }

}

@media only screen and (min-height: 600px) and (max-width: 650px) {
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    body {
        height: inherit;
    }
}
